/*================================================
Default CSS
=================================================*/
.switch-box {
  position: fixed;
  z-index: 1;
  left: 3%;
  bottom: 63px;
}

.switch-box .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-box .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-box .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4d4949;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-box .slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 2.5px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0px 15px #2020203d;
          box-shadow: 0 0px 15px #2020203d;
  background: url(../img/night.png);
  background-repeat: no-repeat;
  background-position: center;
}

.switch-box input:checked + .slider {
  background-color: #cbc1c1;
}

.switch-box input:focus + .slider {
  background-color: #4d4949;
}

.switch-box input:checked + .slider:before {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
  background: url(../img/sunny.png);
  background-repeat: no-repeat;
  background-position: center;
}

.switch-box .slider.round {
  border-radius: 50px;
}

.switch-box .slider.round:before {
  border-radius: 50%;
}

.theme-dark body {
  background-color: #000000;
  color: #f1f1f1;
}

.theme-dark p {
  color: #f1f1f1;
}

.theme-dark p a {
  color: #f1f1f1 !important;
}

.theme-dark p a:hover {
  color: #fd9518 !important;
}

.theme-dark a {
  color: #ffffff;
}

.theme-dark .h1, .theme-dark .h2, .theme-dark .h3, .theme-dark .h4, .theme-dark .h5, .theme-dark .h6, .theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6 {
  color: #ffffff !important;
}

.theme-dark .h1 a, .theme-dark .h2 a, .theme-dark .h3 a, .theme-dark .h4 a, .theme-dark .h5 a, .theme-dark .h6 a, .theme-dark h1 a, .theme-dark h2 a, .theme-dark h3 a, .theme-dark h4 a, .theme-dark h5 a, .theme-dark h6 a {
  color: #ffffff !important;
}

.theme-dark .h1 a:hover, .theme-dark .h2 a:hover, .theme-dark .h3 a:hover, .theme-dark .h4 a:hover, .theme-dark .h5 a:hover, .theme-dark .h6 a:hover, .theme-dark h1 a:hover, .theme-dark h2 a:hover, .theme-dark h3 a:hover, .theme-dark h4 a:hover, .theme-dark h5 a:hover, .theme-dark h6 a:hover {
  color: #fd9518 !important;
}

.theme-dark .bg-color {
  background-color: #0e0e0e;
}

.theme-dark .preloader {
  background-color: #0e0e0e;
}

.theme-dark .navbar-area.is-sticky {
  background-color: #161616 !important;
}

.theme-dark .navbar-area .main-navbar {
  background-color: transparent;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-brand .white-logo {
  display: block;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-brand .main-logo {
  display: none;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item a {
  color: #ffffff;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item a:hover, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item a:focus, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item a.active {
  color: #fd9518 !important;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item:hover a, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item:focus a, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item.active a {
  color: #fd9518 !important;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu {
  background: #0e0e0e;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: #ffffff !important;
  border-bottom: 1px dashed #000000;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #fd9518 !important;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #ffffff !important;
  border-bottom: 1px dashed #000000;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #fd9518 !important;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #ffffff;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fd9518;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #ffffff;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fd9518;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #ffffff;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fd9518;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #ffffff;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fd9518;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #ffffff;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #fd9518;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #fd9518;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #fd9518;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #fd9518;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #fd9518;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: #fd9518;
}

.theme-dark .navbar-area .main-navbar .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: #fd9518;
}

.theme-dark .navbar-area .main-navbar .navbar .others-option .option-item .support p {
  color: #ffffff;
}

.theme-dark .navbar-area .main-navbar .navbar .others-option .option-item .support a {
  color: #ffffff;
}

.theme-dark .banner-area-four {
  background-image: -webkit-gradient(linear, left top, right top, from(#262627), to(#2b2a2b));
  background-image: linear-gradient(to right, #262627, #2b2a2b);
}

.theme-dark .offer-card:hover {
  background-color: #000000;
}

.theme-dark .offer-card:hover::before {
  background-color: #000000;
}

.theme-dark .offer-card.two::before {
  background-color: #0e0e0e;
}

.theme-dark .offer-card.two p {
  color: #ffffff;
}

.theme-dark .offer-card .offer-btn a {
  color: #ffffff;
}

.theme-dark .best-support.team::before {
  background-color: #0e0e0e;
}

.theme-dark .fun-fact-card .span {
  color: #ffffff;
}

.theme-dark .case-study-card .caption {
  background-color: #0e0e0e;
  -webkit-box-shadow: 0px 15px 20px #1a1a1a;
          box-shadow: 0px 15px 20px #1a1a1a;
}

.theme-dark .case-study-card .caption::after {
  border-right: 280px solid transparent;
  border-top: 15px solid #0e0e0e;
}

.theme-dark .case-study-card .caption .case-study-btn a {
  color: #ffffff;
}

.theme-dark .testimonials-and-faq .testimonials-content .testimonials-text .testimonials-slider .slider-item {
  background-color: #000000;
}

.theme-dark .testimonials-card {
  background-color: #000000;
  -webkit-box-shadow: 0px 0px 20px #191919;
          box-shadow: 0px 0px 20px #191919;
}

.theme-dark .testimonials-and-faq-two .faq-content::before {
  background-image: -webkit-gradient(linear, left top, right top, from(#181818), to(#111011));
  background-image: linear-gradient(to right, #181818, #111011);
}

.theme-dark .choose-and-support-area.three .best-support.two::before {
  background-image: -webkit-gradient(linear, left top, right top, from(#1b1b1c), to(#2c2c2c));
  background-image: linear-gradient(to right, #1b1b1c, #2c2c2c);
}

.theme-dark .blog-card {
  background-color: #0e0e0e;
}

.theme-dark .blog-card .blog-text .blog-btn a {
  color: #ffffff;
}

.theme-dark .widget-area .widget {
  background-color: #0e0e0e;
  -webkit-box-shadow: 0px 7px 20px #393838;
          box-shadow: 0px 7px 20px #393838;
}

.theme-dark .widget-area .widget.widget-about-me a {
  color: #ffffff;
}

.theme-dark .widget-area .widget.widget-categories .categories-list li a {
  color: #ffffff;
}

.theme-dark .widget-area .widget.widget-categories .categories-list li a:hover {
  color: #fd9518;
}

.theme-dark .widget-area .widget .title span {
  background-color: #0e0e0e;
}

.theme-dark .blog-details-area .blog-details .details-content .text-content-2 {
  background-color: #0e0e0e;
}

.theme-dark .blog-details-area .blog-details .details-content .text-content-2 i {
  background-color: #0e0e0e;
  -webkit-box-shadow: 0px 0px 20px #373636;
          box-shadow: 0px 0px 20px #373636;
}

.theme-dark .blog-details-area .blog-details .details-content .list li {
  color: #ffffff;
}

.theme-dark .blog-details-area .blog-details .details-content .list li a {
  color: #ffffff;
}

.theme-dark .faq-area .faq-accordion .accordion li .accordion-content p {
  color: #ffffff;
}

.theme-dark .faq-area .faq-accordion .accordion li .title:after {
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.theme-dark .contact-form .form-group .form-control {
  background-color: #515050;
  color: #ffffff;
}

.theme-dark .contact-form .form-group .form-control::-webkit-input-placeholder {
  color: #ffffff;
}

.theme-dark .contact-form .form-group .form-control:-ms-input-placeholder {
  color: #ffffff;
}

.theme-dark .contact-form .form-group .form-control::-ms-input-placeholder {
  color: #ffffff;
}

.theme-dark .contact-form .form-group .form-control::placeholder {
  color: #ffffff;
}

.theme-dark .contact-card ul li a {
  color: #ffffff;
}

.theme-dark .contact-card ul li a:hover {
  color: #fd9518;
}

.theme-dark .sign-in-form {
  background-image: -webkit-gradient(linear, left top, right top, from(#151415), to(#2d2c2d));
  background-image: linear-gradient(to right, #151415, #2d2c2d);
}

.theme-dark .sign-in-form .form-control {
  background: #000000;
  border: 1px solid #605549;
  color: #ffffff;
}

.theme-dark .sign-in-form .form-control::-webkit-input-placeholder {
  color: #ffffff;
}

.theme-dark .sign-in-form .form-control:-ms-input-placeholder {
  color: #ffffff;
}

.theme-dark .sign-in-form .form-control::-ms-input-placeholder {
  color: #ffffff;
}

.theme-dark .sign-in-form .form-control::placeholder {
  color: #ffffff;
}

@media only screen and (max-width: 1199px) {
  .theme-dark .navbar-area {
    background-color: #2f2f2f;
  }
  .theme-dark .main-responsive-nav .logo .main-logo {
    display: none;
  }
  .theme-dark .main-responsive-nav .logo .white-logo {
    display: block;
  }
}
/*# sourceMappingURL=dark.css.map */